<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Gym</title>
  </head>
<!-- html Website with no framework -->
  <body>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li class="active"><a href="#"> Home</a></li>
            <li>
              <a href="#services">Services</a>
            </li>
            <li>
              <a href="#about">About us</a>
            </li>
            <li>
              <a href="contact">Conctact us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <p class="container" id="Home"></p>
    <section>
      <h1>Room</h1>
      <p>
        <strong>Gymnasia</strong> apparatus such as barbells, jumping board,
        running path, tennis-balls, cricket field, and fencing area are used as
        exercises. In safe weather, outdoor locations are the most conducive to
        health.[2] Gyms were popular in ancient Greece. Their curricula included
        self-defense, gymnastica medica, or physical therapy to help the sick
        and injured, and for physical fitness and sports, from boxing to dancing
        to skipping rope.
      </p>
      <p></p>
      <section>
        <h2>Teachers</h2>
        <p>
          Gymnasia also had teachers of wisdom and philosophy. Community
          gymnastic events were done as part of the celebrations during various
          village festivals. In ancient Greece there was a phrase of contempt,
          "He can neither swim nor write." After a while, however, Olympic
          athletes began training in buildings specifically designed for them.
          Community sports never became as popular among ancient Romans as it
          had among the ancient Greeks. Gyms were used more as a preparation for
          military service or spectator sports. During the Roman Empire, the
          gymnastic art was forgotten. In the Dark Ages there were sword
          fighting tournaments and of chivalry; and after gunpowder was invented
          sword fighting began to be replaced by the sport of fencing, as well
          as schools of dagger fighting and wrestling and boxing.
        </p>
      </section>

      <section>
        <h1>History</h1>
        <p>
          In the 18th century, Salzmann, German clergyman, opened a gym in
          Thuringia teaching bodily exercises, including running and swimming.
          Clias and Volker established gyms in London, and in 1825, Doctor Beck,
          a German immigrant, established the first gymnasium in the United
          States. It was found that gym pupils lose interest in doing the same
          exercises, partly because of age. Variety in exercises included
          skating, dancing, and swimming. Some gym activities can be done by 6
          to 8-year-olds while age 16 has been considered mature enough for
          boxing and horseback ridin
        </p>
      </section>
    </section>
  </body>
</html>
